
svg {

  position: fixed;
  padding-top: 10px;

  path {
    stroke: blue;
    fill: none;
    stroke-width: 3px;
    stroke-linecap: round
  }

  .axis path,
  .axis line,
  line {
    fill: none;
    stroke: #bbb;
    shape-rendering: crispEdges;
    stroke-width: 1px;
  }

  .axis text {
    font-family: sans-serif;
    font-size: 11px;
    fill: #888;
  }

  rect {
    fill: #444;
  }

}


input[type=range] {
  -webkit-appearance: none;
  width: 144px;
  height: 0px;
  position: absolute;
  margin-top: -10px;
  margin-left: 10px;
}
